*{
    font-family: "Poppins";
    word-wrap: normal;
}

body{
    background: rgb(192,190,226);
    background: linear-gradient(90deg, rgba(192,190,226,1) 0%, rgba(221,221,244,1) 35%, rgba(200,235,241,1) 100%);
}

#entradas{
    background-color: rgb(113, 192, 119);
}

#saidas{
    background-color: rgb(192, 113, 113);
}

#analise{
    background-color: rgb(231, 220, 158);
}

.card-title{
    text-shadow: 2px;
    font-style: italic;
    font-weight: bold;
}