*{
    box-sizing: border-box;
}

#intro {
    text-align: left;
}

body{
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}